html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** 1rem = 10px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.82;
    font-family: 'Lato', sans-serif;
}


/** Globales **/

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

img {
    width: 95%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}


/** Utilidades **/

.no-margin {
    margin: 0;
}

.centrar {
    text-align: center;
}

.fw-300 {
    font-weight: 300;
}


/** Header **/

.site-header {
    background-image: url(../img/local2.png);
    height: 60rem;
    margin-bottom: 15px;
    padding: 0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.site-header h1 span {
    height: 700px;
}

.site-header h1 {
    text-align: center;
    font-weight: 400;
}

.logo {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1rem;
}

.texto-header {
    font-size: 2rem;
    line-height: 4.5rem;
    margin-top: 10rem;
    color: #ffffff;
}

@media (min-width: 768px) {
    .texto-header {
        margin-top: 25rem;
    }
}


/** Navegacion **/

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;
}

a:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .barra a {
        display: inline-flex;
        justify-content: space-between;
        margin-right: 1rem;
    }
    .barra a:last-of-type {
        margin-right: 0;
    }
}


/** Nosotros **/

.cuerpo-nosotros {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .cuerpo-nosotros {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .imagen-nosotros {
        flex-basis: 40%;
    }
    .texto-nosotros {
        flex-basis: calc(60% - 1rem);
    }
}


/** Servicio **/

.servicios {
    background-image: url(../img/copiadoras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: auto;
}

.servicios h2 {
    color: #ffffff;
}

.texto-servicios {
    color: #ffffff;
    padding-top: 10rem;
    font-size: 2.2rem;
}

.boton {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem 3rem;
    margin: 3rem 0 1.5rem 0;
    background-color: #8f00e2;
    text-align: center;
    text-decoration: none;
    display: block;
    border: none;
    flex: 0 0 100%;
    transition: background-color .3s ease-in-out;
}

.boton:hover {
    cursor: pointer;
    background-color: #8f00e28e;
}


/* Para cotizar */

.boton-suma {
    padding: 1rem 2rem;
    background-color: #e20000;
}

.boton-suma:hover {
    background-color: #f03232;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.contacto {
    background-color: black;
    color: #ffffff;
    height: auto;
    margin: 0;
}

@media (min-width: 768px) {
    .contacto {
        height: 40rem;
    }
}

.contacto p {
    color: #ffffff;
    font-size: 2.2rem;
    line-height: 3rem;
}

@media (min-width: 768px) {
    .contacto p {
        line-height: 2rem;
    }
}

.contacto p span,
.contacto p a {
    color: #8f00e2;
}

.contacto h3 {
    padding-top: 1rem
}


/** Footer **/

.site-footer {
    background-color: rgb(69, 0, 134);
    margin: 0;
    color: #ffffff;
    margin-top: 15px;
}

.site-footer p {
    margin: 0;
}

.contenedor-footer {
    padding-top: 3rem;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}


/** Pagina Servicios **/

.servicio {
    align-items: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (min-width: 480px) {
    .contenedor-servicios {
        display: flex;
        flex-wrap: wrap;
    }
    img {
        width: 100%;
    }
    .servicio {
        flex-basis: calc(50% - 1rem);
        border: 2px solid #ddddddee;
        padding: .5rem 0 .5rem .5rem;
    }
    .servicio h2 {
        line-height: 5.5rem;
    }
}

@media (min-width: 768px) {
    .servicio {
        flex-basis: calc(33.3% - 1rem);
    }
}

.no-pad {
    padding: 0;
}


/** Contacto **/

.contenedor-cotizador {
    margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .contenedor-cotizacion {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem;
        padding-top: 0;
    }
    .cotizador {
        flex-basis: calc(65% - 1rem);
        margin-right: 2rem;
    }
    .resultado {
        flex-basis: calc(35% - 1rem);
    }
}

.botonesC a {
    margin: 1rem 0;
}

.botonesC #add {
    margin-right: .5rem;
}

.resultado p {
    font-size: 2rem;
    font-weight: bold;
}

.cotizador label {
    font-size: 2rem;
}

.cotizador label:first-of-type {
    margin-top: 1rem;
}

.cotizador label:last-of-type,
.cotizador #cantidad {
    margin-bottom: 1rem;
}

.cotizador select,
.cotizador input {
    width: 100%;
    height: 3.5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
    .cotizador select,
    .cotizador input {
        width: 10rem;
        margin: .5rem;
    }
    .cotizador select:first-of-type {
        width: 30rem;
    }
}

.cotizador #cantidad {
    width: 8rem;
}

.pedido {
    border: 1px solid #d6d5d5;
    background-color: #ececec;
    padding: .5rem;
    display: block;
}

@media only screen and (min-width: 1000px) {
    .pedido {
        display: flex;
    }
    .seleccion {
        flex-basis: calc(65% - 2rem);
    }
    .cant {
        margin-left: 1rem;
        flex-basis: calc(35% - 2rem);
        display: inline;
    }
    .tamano {
        display: none;
    }
}

.total p {
    display: inline;
}